
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    
}
.container{
    border: 5px;
    border-style:dashed;
    border-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}   

/* HEADER */

.header{
    background-color: aqua;
    flex-basis: 35%;
} 
.header-top{
    background-color: blueviolet;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.header-top ul{
    display: flex;
    gap: 20px;
}

.header-bottom{
    background-color: bisque;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 0px;

    display: flex;
    justify-content: space-evenly;
}

.header-bottom .header-text{
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 150;
    display: flex;
    flex-direction: column;
}

.header-bottom button{
    align-self: flex-start;
}

.header-bottom img{
    width: 400px;
    height: 250px;
    align-self: center;
}

/* END HEADER */

/* TOP MAIN*/

.top-main{
    background-color: lightslategray;
    flex-basis: 30%;
    text-align: center;
    
}

.top-main-title{
    margin: 5px;
    padding: 0px;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.top-main-container{
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    gap: 5px;
}

.top-main-container img{
    border: 3px;
    border-style: solid;
    border-color: bisque;
    width: 80px;
    height: 80px;
}

/* END TOP MAIN*/

/* MID MAIN*/
.mid-main{
    background-color: lightblue;
    flex-basis: 25%;
}

/* END MID MAIN*/


/* BOTTOM MAIN*/
.bottom-main{
    background-color: lightgreen;
    flex-basis: 25%;
}

/* END BOTTOM MAIN*/


/* FOOTER*/
.footer{
    background-color: lightpink;
    flex-basis: 5%;
}

/* END FOOTER*/

/* OTHERS*/

ul{
    list-style-type: none;
}