
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}   

/* HEADER */

.header{
    background-color: #1f2937;
    flex-basis: 35%;
} 
.header-top{
    font-size: 24px;
    color: #f9faf8;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.header-top ul{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
}

.header-bottom{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}

.header-bottom .header-text{
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 150;
    display: flex;
    flex-direction: column;
}

.header-bottom button{
    align-self: flex-start;
    margin-top: -10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
}

.header-bottom img{
    width: 400px;
    height: 250px;
    align-self: center;
}

.header-text .title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 10px;
    margin-bottom: 0px;
}

.header-text .text{
    margin-top: 0px;
    font-size: 18px;
    color: #e5e7eb;
}

/* END HEADER */

/* TOP MAIN*/

.top-main{
    flex-basis: 30%;
    text-align: center;
    
}

.top-main-title{
    margin: 5px;
    padding: 0px;
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.top-main-container{
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    gap: 50px;
}

.top-main-container img{
    border: 3px;
    border-style: solid;
    border-color: #3882f6;
    width: 80px;
    height: 80px;
}

/* END TOP MAIN*/

/* MID MAIN*/
.mid-main{
    background-color: #e5e7eb;
    flex-basis: 15%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 80%;
}
.mid-main h3{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 200px;
    padding: 0px;
    align-self: flex-end;
}

/* END MID MAIN*/


/* BOTTOM MAIN*/
.bottom-main{
    
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action{
    display: flex;
    background-color: #3882f6;
}

.bottom-container{
    width: 75%;
    height: 70%;
    display: flex;
    flex-direction: column;
    
}


.text-1{
    margin: 0px;
    padding: 19px;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
}

.text-2{
    margin-bottom: 10px;
    padding: 0px;
    width: 60%;
    font-size: 15px;
    align-self: flex-end;
}

.button{
    background-color: #3882f6;
    color: #f9faf8;
    align-self: center;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 8px;
}


/* END BOTTOM MAIN*/


/* FOOTER*/
.footer{
    background-color: #1f2937;
    flex-basis: 5%;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END FOOTER*/

/* OTHERS*/

ul{
    list-style-type: none;
}
a{
  text-decoration: none;  
  color: #e5e7eb;
}